{
    "presets": [
        "es2015-webpack",
        "react",
        "stage-1"
    ],
    "plugins": [
        "transform-decorators-legacy"
    ],

    "env": {
        "test": {
            "plugins": [
                [
                    "__coverage__",
                    {
                        "ignore": "*.test.*"
                    }
                ]
            ]
        }
    }
}