import React from 'react';
import style from './{{dashCase name}}.css';
{{#if container}}
import {observer} from 'mobx-react';
{{/if}}

{{#if container}}
@observer(['store'])
{{/if}}
export default class {{ properCase name }} extends React.Component {

    static get defaultProps() {
        return {
            type: '',
        };
    }

    static get propTypes() {
        return {
            type: React.PropTypes.string,
        };
    }

    render() {
        return (
            <div className={ style.{{camelCase name}} }>
                <h2>{{ properCase name }}</h2>
            </div>
        );
    }

}
