import React from 'react';
import {observer} from 'mobx-react';
import style from './{{dashCase name}}.css';

@observer(['store'])
export default class {{ properCase name }} extends React.Component {

    static get defaultProps() {
        return {
            type: '',
        };
    }

    static get propTypes() {
        return {
            type: React.PropTypes.string,
        };
    }

    render() {
        return (
            <div className={ style.{{camelCase name}} }>
                <h2>{{ properCase name }}</h2>
            </div>
        );
    }

}
