import React from 'react';
{{#if observer}}
import {observer, inject} from 'mobx-react';
{{/if}}

import styles from './{{dashCase componentName}}.css';

{{#if observer}}
@inject('store')
@observer
{{/if}}
export default class {{ properCase componentName }} extends React.Component {

    static defaultProps = {
        dummy: '',
    };

    static propTypes = {
        dummy: React.PropTypes.string,
    };

    render() {
        return (
            <div className={ styles.{{camelCase componentName}} }>
                <h2>{{ properCase componentName }}</h2>
            </div>
        );
    }

}
