import React from 'react';
import {observer} from 'mobx-react';

export default observer(['store'], function {{ properCase name }}(props) {

    return (
        <h2>{{ properCase name }}: {props}</h2>
    );

});
