@import '../../../assets/styles/colors.css';

.toolbar {
    background-color: var(--color-brand);
    color: var(--app-text-color-reverse);
    height: 48px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    display: inline;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1px;

    color: var(--app-text-color-reverse);
    text-decoration: none;
    flex: 1;
}

.githubLink {
    display: inline-block;
    height: 32px;
    width: 32px;

    background: url(../../../assets/images/github-icon.png);
    background-size: 100%;
}
