@import '../../../core/styles/colors.css';

.toolbar {
    background-color: var(--color-brand);
    color: var(--app-text-color-reverse);
    height: 48px;
    padding: 0 16px;
}

.title {
    display: inline;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1px;
    line-height: 48px;

    color: var(--app-text-color-reverse);
    text-decoration: none;
}
