@import '../../../core/styles/colors';

.toolbar {
    background-color: $color-brand;
    color: $app-text-color-reverse;
    height: 48px;
    padding: 0 16px;
}

.title {
    display: inline;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1px;
    line-height: 48px;

    color: $app-text-color-reverse;
    text-decoration: none;
}
