:root {
    --app-text-color-reverse: rgba(255, 255, 255, .87);
    --app-link-text-color: #8F8F8F;
    --app-border-color: rgba(0, 0, 0, 0.12);
    --app-text-color: rgba(0, 0, 0, .87);
    --app-text-color-medium: rgba(0, 0, 0, .65);
    --app-text-color-light: rgba(0, 0, 0, .54);

    --color-brand: #106cc8;
    --color-hover: #42a5f5;
}
