/* Global styles */
@import './colors.css';

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;

    /* Helps fonts on OSX look more consistent with other systems */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:global {

.text-right {
    text-align: right;
}

.sdinput {
    border: 1px solid var(--color-brand);
    font-size: 13px;
    height: 40px;
    outline: none;
    padding: 8px;
}

.sdbutton {
    background-color: var(--color-brand);
    border-style: none;
    color: var(--app-text-color-reverse);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    padding: 8px 18px;
    text-decoration: none;
}

.sdbutton:hover {
    background-color: var(--color-hover);
}

/* See https://www.smashingmagazine.com/2008/08/top-10-css-table-designs */
.mintable {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    width: 360px;
    border-collapse: collapse;
    text-align: left;
}

.mintable th {
    font-size: 14px;
    font-weight: normal;
    color: #106cc8;
    padding: 10px 8px;
    border-bottom: 2px solid #106cc8;
}

.mintable td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;
}

.mintable tbody tr:hover td {
    color: #106cc8;
}

.mintable tfoot td {
    background-color: #dcefff;
}

}
